@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --preto: #000000;
  --vermelho: #e50914
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BASE*/
body {
  background: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: 'Arial';
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #B3B3B3;
  margin-right: 8px;
}

header nav a:hover {
  color: #FFF;
  font-weight: bold;
}

/*FILME PRINCIPAL*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/capa-thelibrarians.jpg);
  height: 440px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
  width: 280px;
  background-color: rgba(109, 109, 110, 0.7);
  border: none;
  color: #FFF;
  padding: 15px 30px;
  margin-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s ease all;
}

.botao:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.b-left {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.b-left:hover {
  background-color: rgba(255, 255, 255,0.7);
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-filmes {
  margin-top: 5px;
}